.glossyHeader,
.transparentHeader {
  background: rgba(0, 0, 0, 0.6);
  padding: 0.3rem 1.5rem;
  border-bottom: 3px solid var(--green-blue);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.1s ease;
}

.transparentHeader {
  background-color: hsla(186, 100%, 4%, 0.5);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glossyHeader {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.glossyHeader h1 :first-child,
.transparentHeader h1 :first-child {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--white);
  width: fit-content;
  font-size: 1.2rem;
  line-height: 1.1rem;
  padding: 0.5rem;
}

.glossyHeader h1 :last-child,
.transparentHeader h1 :last-child {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--light-coral);
  font-size: 0.8rem;
  line-height: 0.6rem;
  margin-left: 3rem;
  padding: 0.5rem;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.desktopLinks {
  display: none;
}

.links {
  background-color: var(--police-blue);
  width: calc(100% - 4rem);
  max-width: 23rem;
  height: 100%;
  max-height: 100%;
  padding: 2rem;
  border: 0.25rem solid var(--green-blue);
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 4;
}

.socials {
  margin-top: 2rem;
}

.socials ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials a {
  display: block;
}

.socials img {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: bottom;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: block;
}

.hamburger img {
  display: block;
}

.close {
  background-color: transparent;
  border: none;
  margin-bottom: 1.5rem;
}

.links .list,
.desktopLinks .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}

.desktopLinks .list {
  flex-direction: row;
}

.list li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2rem 0.5rem;
}

.list a {
  text-transform: uppercase;
}

@media (hover: hover) {
  .list a:hover {
    color: var(--light-coral);
  }
}

@media (max-width: 20rem) {
  .links {
    width: calc(100% - 2rem);
  }
  .socials ul {
    gap: 0.3rem;
  }
}

@media (min-width: 36rem) {
  .desktopLinks {
    display: block;
  }
  .glossyHeader .desktopLinks {
    display: none;
  }
  .transparentHeader .hamburger {
    display: none;
  }
  .list li {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.2rem;
  }
}
