.container {
  width: 100%;
  padding: 6rem 1rem 0 1rem;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.icons img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(8%) saturate(3235%)
    hue-rotate(139deg) brightness(91%) contrast(81%);
  width: 1.875rem;
  height: 1.875rem;
}

.container h2 {
  color: var(--white);
  font-size: 2rem;
  opacity: 0.6;
  margin-bottom: 2rem;
}

.skills {
  width: 100%;
  max-width: 19rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1.5rem;
  margin-inline: auto;
}

.skills img {
  width: 2.5rem;
  height: 2.5rem;
}

.screen {
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(16%)
    hue-rotate(114deg) brightness(105%) contrast(105%);
}

@media (max-width: 15.625rem) {
  .skills {
    column-gap: 1.5rem;
    row-gap: 0.8rem;
  }
}

@media (min-width: 36rem) {
  .container {
    padding: 6rem 4rem 0rem 4rem;
  }
  .container h2 {
    font-size: 3.4rem;
  }
  .skills {
    max-width: 25rem;
    column-gap: 2rem;
  }
}

@media (min-width: 48rem) {
  .container > :first-child {
    margin-inline: auto;
    margin-bottom: 2.5rem;
  }
  .skills {
    max-width: 41.25rem;
    column-gap: 2.8rem;
  }
  .skills img {
    width: 3.75rem;
    height: 3.75rem;
  }
}

@media (min-width: 70rem) {
  .skills {
    max-width: 58rem;
  }
}
